include ./layouts/header.pug
main.page
    include ./layouts/hero.pug
    include ./layouts/about.pug
    include ./layouts/services.pug
    include ./layouts/portfolio.pug
include ./layouts/footer.pug

