.main {
  background-color: var(--secondary-color);

  &__container {
    max-height: 100vh;
    display: flex;
    @media screen and (max-width: 767.98px) {
      display: block;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 90px 20px 90px 0;
    @media screen and (max-width: 1200px) {
      flex: 0 0 41%;
    }
    @media screen and (max-width: 767.98px) {
      padding: 100px 20px 30px 0;
    }
    flex: 0 0 40.23%;
  }

  &__content {
    .content-block__label {
      color: #fff;
    }

    .content-block__title {
      color: #fff;
    }
  }

  &__text {
    color: #fff;
    max-width: 400px;
    // safe-padding
    &:not(:last-child) {
      margin-bottom: 67px;
    }
    @media screen and (max-width: 767.98px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__image {
    flex: 1 1 auto;
    padding-bottom: 71%;
    position: relative;
    margin: 0 -85px 0px 0px;
    @media screen and (max-width: 1200px) {
      padding-bottom: 66%;
    }
    @media screen and (max-width: 767.98px) {
      margin: 0 -85px;
      padding-bottom: 60%;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
}
