.services {
  overflow: hidden;
  &__container {
    display: flex;
    @media screen and (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      background-color: var(--secondary-color);
    }
  }

  &__body {
    flex: 0 0 55%;
    align-self: center;
    background-color: #fff;
    @media screen and (max-width: 991.98px) {
      padding: 0 15px;
      margin: 0 -15px;
    }
    //safety padding
    padding: 30px 40px 30px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    @media screen and (max-width: 650px) {
      grid-template-columns: auto;
      gap: 32px;
    }
  }

  &__media {
    padding: 165px 0;
    position: relative;
    @media screen and (max-width: 1520px) {
      position: relative;
      padding: 100px 0;
    }
    @media screen and (max-width: 767.98px) {
      margin: 0 -15px;
    }
    &::before {
      @media screen and (max-width: 767.98px) {
        display: none;
      }
      content: '';
      position: absolute;
      width: 100vw;
      height: 200vh;
      top: 0;
      left: 64px;
      background-color: var(--secondary-color);
    }
  }

  &__man,
  &__phone {
    position: relative;
    z-index: 2;
  }

  &__man {
    max-width: 427px;
    > img {
      width: 100%;
    }
  }

  &__phone {
    position: absolute;
    right: -150px;
    bottom: -20px;
    @media screen and (max-width: 1520px) {
      width: 60%;
      left: 0;
      bottom: 0;
    }

    @media screen and (max-width: 991.98px) {
      width: 80%;
      bottom: -150px;
    }

    > img {
      width: 100%;
    }
  }
}

.service {
  &__icon {
    margin: 0 0 14px 0;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 145%;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before,
    &::after {
      content: '';
      height: 1px;
      flex: 1 1 auto;
      background-color: var(--primary-color);
    }
  }
}
