section.page__section.about
    .about__container
        .about__body
            .about__content.content-block
                .content-block__label Who we are
                h1.content-block__title About Agency
            .about__text.text
                p 
                    | Our company philosophy is to create the kind of website that most business want: easy to find, stylish and applealing, quick loading, mobile responsive and easy to buy from.
                p 
                    | Our company philosophy is to create the kind of website that most business want: easy to find, stylish and applealing, quick loading, mobile responsive and easy to buy from.
        .about__image
            img(src="images/about.jpg" alt="image of a bicycle")