header.header
    a.header__logo(href="#")
        img(src="images/logo.svg", alt="logo of the company")
    .header__social.social-header
        a.social-header__item(href="#")
            img(src="icon/fb.svg" alt="facebook icon")
        a.social-header__item(href="#")
            img(src="icon/tw.svg" alt="twitter icon")
        a.social-header__item(href="#")
            img(src="icon/ins.svg" alt="instagram icon")