section.page__section.main
    .main__container
        .main__body
            .main__content.content-block
                .content-block__label We’re Creative
                h1.content-block__title Digital Agency
            .main__text.text
                p
                | We pride ourselves in delivering world class
                | outputs to all our customers.
            a.main__button.button(href="#") Get Started
        .main__image
            img(src="images/main.jpg", alt="image of a bicycle")