section.page__section.services
    .services__container
        .services__body
            .services__content.content-block
                .content-block__label What we do
                h2.content-block__title Our Services
            .services__items
                article.services__item.service
                    .service__icon
                        img(src="icon/volume.svg", alt="megafon")
                    h3.service__title Online Marketing
                    p.service__text.text 
                        | The internet has transformed business marketing. It is the heart of our company.
                article.services__item.service
                    .service__icon
                        img(src="icon/layout.svg", alt="layout")
                    h3.service__title Web Development
                    p.service__text.text 
                        | Web development is the work involved in developing a Web site for the Internet.
                article.services__item.service
                    .service__icon
                        img(src="icon/heart.svg", alt="heart")
                    h3.service__title Website Design
                    p.service__text.text 
                        | Web design refers to the design of websites that are displayed on the internet.
                article.services__item.service
                    .service__icon
                        img(src="icon/search.svg", alt="search")
                    h3.service__title SEO Optimization
                    p.service__text.text 
                        | SEO is the process of improving the quality and quantity of website traffic to a website.
        .services__media
            .services__man
                img(src="images/service-man.png", alt="person")
            .services__phone 
                img(src="images/phone.png", alt="phone with application")

