section.page__section.team
    .team__container
        .team__content.content-block.content-block_center
            .content-block__label Meet the staff
            h2.content-block__title Our Team
        ul.team__items
            li.team__item.teammate
                .teammate__image
                    img(src="images/team/0.jpg", alt="Choudri Malhotra")
                .teammate__info
                    .teammate__body
                        .teammate__title Choudri Malhotra
                        .teammate__role Content Writer
                    .teammate__social.social-teammate
                        a.social-teammate__item(href="#") 
                            img(src="icon/fb.svg", alt="meta icon")
                        a.social-teammate__item(href="#") 
                            img(src="icon/tw.svg", alt="twitter")
                        a.social-teammate__item(href="#") 
                            img(src="icon/ins.svg", alt="instagram")
            li.team__item.teammate
                .teammate__image
                    img(src="images/team/0.jpg", alt="Choudri Malhotra")
                .teammate__info
                    .teammate__body
                        .teammate__title Choudri Malhotra
                        .teammate__role Content Writer
                    .teammate__social.social-teammate
                        a.social-teammate__item(href="#") 
                            img(src="icon/fb.svg", alt="meta icon")
                        a.social-teammate__item(href="#") 
                            img(src="icon/tw.svg", alt="twitter")
                        a.social-teammate__item(href="#") 
                            img(src="icon/ins.svg", alt="instagram")
            li.team__item.teammate
                .teammate__image
                    img(src="images/team/2.jpg", alt="Anirudh Vedha")
                .teammate__info
                    .teammate__body
                        .teammate__title Anirudh Vedha
                        .teammate__role Full Stack Developer
                    .teammate__social.social-teammate
                        a.social-teammate__item(href="#") 
                            img(src="icon/fb.svg", alt="meta icon")
                        a.social-teammate__item(href="#") 
                            img(src="icon/tw.svg", alt="twitter")
                        a.social-teammate__item(href="#") 
                            img(src="icon/ins.svg", alt="instagram")
            li.team__item.teammate
                .teammate__image
                    img(src="images/team/2.jpg", alt="Anirudh Vedha")
                .teammate__info
                    .teammate__body
                        .teammate__title Anirudh Vedha
                        .teammate__role Founder
                    .teammate__social.social-teammate
                        a.social-teammate__item(href="#") 
                            img(src="icon/fb.svg", alt="meta icon")
                        a.social-teammate__item(href="#") 
                            img(src="icon/tw.svg", alt="twitter")
                        a.social-teammate__item(href="#") 
                            img(src="icon/ins.svg", alt="instagram")
